# Week 1: Find Clusters of Infected People

<span style="color:red">
**URGENT WARNING**

We have been receiving reports from health facilities that a new, fast-spreading virus has been discovered in the population. To prepare our response, we need to understand the geospatial distribution of those who have been infected. Find out whether there are identifiable clusters of infected individuals and where they are.    
</span>

Your goal for this notebook will be to estimate the location of dense geographic clusters of infected people using incoming data from week 1 of the simulated epidemic.

## Imports

In [27]:
import cudf
import cuml

import cupy as cp

## Load Data

Begin by loading the data you've received about week 1 of the outbreak into a cuDF data frame. The data is located at `'./data/week1.csv'`. For this notebook you will only need the `'lat'`, `'long'`, and `'infected'` columns. Either drop the columns after loading, or use the `cudf.read_csv` named argument `usecols` to provide a list of only the columns you need.

In [28]:
gdf = cudf.read_csv('./data/week1.csv')
gdf.dtypes

age             int64
sex            object
lat           float64
long          float64
employment     object
infected         bool
dtype: object

## Make Data Frame of the Infected

Make a new cuDF data frame `infected_df` that contains only the infected members of the population.

In [29]:
idf = gdf[gdf['infected'] == True]
idf.head()

          age sex        lat      long employment  infected
28928759   44   f  54.472766 -1.654932          Q      True
28930512   47   f  54.529717 -1.667143          Q      True
28930904   47   f  54.512986 -1.589866          I      True
28932226   49   f  54.522322 -1.380694          Q      True
28933748   51   f  54.541660 -1.613490          Q      True

## Make Grid Coordinates for Infected Locations

Provided for you in the next cell (which you can expand by clicking on the "..." and contract again after executing by clicking on the blue left border of the cell) is the lat/long to OSGB36 grid coordinates converter you used earlier in the workshop. Use this converter to create grid coordinate values stored in `northing` and `easting` columns of the `infected_df` you created in the last step.

In [30]:
# https://www.ordnancesurvey.co.uk/docs/support/guide-coordinate-systems-great-britain.pdf

def latlong2osgbgrid_cupy(lat, long, input_degrees=True):
    '''
    Converts latitude and longitude (ellipsoidal) coordinates into northing and easting (grid) coordinates, using a Transverse Mercator projection.
    
    Inputs:
    lat: latitude coordinate (N)
    long: longitude coordinate (E)
    input_degrees: if True (default), interprets the coordinates as degrees; otherwise, interprets coordinates as radians
    
    Output:
    (northing, easting)
    '''
    
    if input_degrees:
        lat = lat * cp.pi/180
        long = long * cp.pi/180

    a = 6377563.396
    b = 6356256.909
    e2 = (a**2 - b**2) / a**2

    N0 = -100000 # northing of true origin
    E0 = 400000 # easting of true origin
    F0 = .9996012717 # scale factor on central meridian
    phi0 = 49 * cp.pi / 180 # latitude of true origin
    lambda0 = -2 * cp.pi / 180 # longitude of true origin and central meridian
    
    sinlat = cp.sin(lat)
    coslat = cp.cos(lat)
    tanlat = cp.tan(lat)
    
    latdiff = lat-phi0
    longdiff = long-lambda0

    n = (a-b) / (a+b)
    nu = a * F0 * (1 - e2 * sinlat ** 2) ** -.5
    rho = a * F0 * (1 - e2) * (1 - e2 * sinlat ** 2) ** -1.5
    eta2 = nu / rho - 1
    M = b * F0 * ((1 + n + 5/4 * (n**2 + n**3)) * latdiff - 
                  (3*(n+n**2) + 21/8 * n**3) * cp.sin(latdiff) * cp.cos(lat+phi0) +
                  15/8 * (n**2 + n**3) * cp.sin(2*(latdiff)) * cp.cos(2*(lat+phi0)) - 
                  35/24 * n**3 * cp.sin(3*(latdiff)) * cp.cos(3*(lat+phi0)))
    I = M + N0
    II = nu/2 * sinlat * coslat
    III = nu/24 * sinlat * coslat ** 3 * (5 - tanlat ** 2 + 9 * eta2)
    IIIA = nu/720 * sinlat * coslat ** 5 * (61-58 * tanlat**2 + tanlat**4)
    IV = nu * coslat
    V = nu / 6 * coslat**3 * (nu/rho - cp.tan(lat)**2)
    VI = nu / 120 * coslat ** 5 * (5 - 18 * tanlat**2 + tanlat**4 + 14 * eta2 - 58 * tanlat**2 * eta2)

    northing = I + II * longdiff**2 + III * longdiff**4 + IIIA * longdiff**6
    easting = E0 + IV * longdiff + V * longdiff**3 + VI * longdiff**5

    return(northing, easting)

In [31]:
cupy_lat = cp.asarray(idf['lat']).astype('float32')
cupy_long = cp.asarray(idf['long']).astype('float32')

n_cupy_array, e_cupy_array = latlong2osgbgrid_cupy(cupy_lat, cupy_long)
idf['northing'] = n_cupy_array
idf['easting'] = e_cupy_array
print(idf.dtypes)
idf.head()

age             int64
sex            object
lat           float64
long          float64
employment     object
infected         bool
northing      float64
easting       float64
dtype: object

,age,sex,lat,long,employment,infected,northing,easting
28928759,44,f,54.472766,-1.654932,Q,True,508670.609840,422359.755045
28930512,47,f,54.529717,-1.667143,Q,True,515003.077956,421538.534748
28930904,47,f,54.512986,-1.589866,I,True,513167.686551,426549.869615
28932226,49,f,54.522322,-1.380694,Q,True,514305.903560,440081.214659
28933748,51,f,54.541660,-1.613490,Q,True,516349.568138,425002.994784

## Find Clusters of Infected People

Use DBSCAN to find clusters of at least 25 infected people where no member is more than 2000m from at least one other cluster member. Create a new column in `infected_df` which contains the cluster to which each infected person belongs.

In [32]:
dbscan = cuml.DBSCAN(eps=2000,min_samples=25)

In [33]:
idf = idf.reset_index()
idf['cluster'] = dbscan.fit_predict(idf[['northing', 'easting']])
idf['cluster'].nunique()

15

## Find the Centroid of Each Cluster

Use grouping to find the mean `northing` and `easting` values for each cluster identified above.

In [34]:
cdf = idf.groupby(['cluster'])
cdf_mean = cdf.mean()
print(cdf_mean)

                index        age        lat      long  infected  \
cluster
-1       3.657785e+07  53.981063  53.297945 -1.971517       1.0
 0       3.220240e+07  56.509377  53.474320 -2.430641       1.0
 1       3.048226e+07  51.000000  53.820015 -3.018155       1.0
 2       3.871062e+07  56.838710  53.020434 -2.158237       1.0
 3       3.054640e+07  62.560000  53.133494 -2.304379       1.0
 4       3.540537e+07  51.924242  53.420287 -1.531111       1.0
 5       3.559005e+07  54.674419  53.374166 -1.600748       1.0
 6       3.574127e+07  51.370370  53.810761 -1.893906       1.0
 7       3.596570e+07  54.794872  53.611172 -1.847781       1.0
 8       3.595117e+07  53.106383  53.638340 -1.776648       1.0
 9       3.604745e+07  54.190476  53.652081 -1.854987       1.0
 10      3.697812e+07  51.234375  52.903786 -1.465629       1.0
 11      4.168032e+07  51.250000  52.602480 -2.119587       1.0
 12      4.116284e+07  52.750000  52.521364 -1.975815       1.0
 13      4.121630e+07  52.380282  52.506191 -2.080768       1.0

              northing        easting
cluster
-1       378085.754792  401877.065767
 0       397661.304987  371410.018703
 1       436475.655584  332980.451570
 2       347062.488769  389386.817110
 3       359668.898831  379638.015284
 4       391630.334255  431158.136899
 5       386471.539885  426559.086949
 6       434970.643042  406985.278683
 7       412772.945606  410069.660550
 8       415807.575316  414765.630293
 9       417322.762302  409583.734211
 10      334208.465300  435937.775829
 11      300568.141908  391901.509591
 12      291539.640465  401640.663144
 13      289855.065507  394518.290192

Find the number of people in each cluster by counting the number of appearances of each cluster's label in the column produced by DBSCAN.

In [35]:
cdf = idf.groupby(['cluster'])
cdf_count = cdf.count()
print(cdf_count)

         index   age   sex   lat  long  employment  infected  northing  \
cluster
-1        8449  8449  8449  8449  8449        8449      8449      8449
 0        8638  8638  8638  8638  8638        8638      8638      8638
 1          68    68    68    68    68          68        68        68
 2         403   403   403   403   403         403       403       403
 3          25    25    25    25    25          25        25        25
 4          66    66    66    66    66          66        66        66
 5          43    43    43    43    43          43        43        43
 6          27    27    27    27    27          27        27        27
 7          39    39    39    39    39          39        39        39
 8          94    94    94    94    94          94        94        94
 9          21    21    21    21    21          21        21        21
 10         64    64    64    64    64          64        64        64
 11         68    68    68    68    68          68        68        68
 12         72    72    72    72    72          72        72        72
 13         71    71    71    71    71          71        71        71

         easting
cluster
-1          8449
 0          8638
 1            68
 2           403
 3            25
 4            66
 5            43
 6            27
 7            39
 8            94
 9            21
 10           64
 11           68
 12           72
 13           71

## Take the Assessment

After completing the work above, visit the *Launch Section* web page that you used to launch this Jupyter Lab. Scroll down below where you launched Jupyter Lab, and answer the question *Week 1 Assessment*. You can view your overall progress in the assessment by visiting the same *Launch Section* page and clicking on the link to the *Progress* page.

There will be additional questions for you to answer after completing the remaining notebooks. On the *Progress* page, if you have successfully answered all the assessment questions, you can click on *Generate Certificate* to receive your certificate in the course.

![launch_task_page](./images/launch_task_page.png)

<div align="center"><h2>Please Restart the Kernel</h2></div>

In [ ]:
import IPython
app = IPython.Application.instance()
app.kernel.do_shutdown(True)